tests/test_artifactRemoval/data/removeArtifact_katzMethod/masterMegaFile.m
tests/test_artifactRemoval/data/removeArtifact_katzMethod/figures/waveform_overChannels.pdf
tests/test_artifactRemoval/data/removeArtifact_katzMethod/figures/waveformOverChannels_perCluster.pdf
tests/test_artifactRemoval/data/removeArtifact_katzMethod/figures/waveformAndSpikeCount_overChannels.pdf
tests/test_artifactRemoval/data/removeArtifact_katzMethod/figures/unitSummary.pdf
tests/test_artifactRemoval/data/removeArtifact_katzMethod/convertInfo.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/cluster_groups.csv
tests/test_artifactRemoval/data/removeArtifact_katzMethod/channel_positions.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/channel_map.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/chanMap.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/amplitudes.npy
tests/test_artifactRemoval/data/noArtifactRemoval/whitening_mat_inv.npy
tests/test_artifactRemoval/data/noArtifactRemoval/whitening_mat.npy
tests/test_artifactRemoval/data/noArtifactRemoval/templates_unw.npy
tests/test_artifactRemoval/data/noArtifactRemoval/templates_ind.npy
tests/test_artifactRemoval/code/+pdsa/eventPsth.m
tests/test_artifactRemoval/code/+pdsa/diffCirc.m
tests/test_artifactRemoval/code/+pdsa/detectSaccades.m
tests/test_artifactRemoval/code/+pdsa/detectSaccades (KatzBookPro's conflicted copy 2016-11-27).m
tests/test_artifactRemoval/code/+pdsa/countSpikes.m
tests/test_artifactRemoval/code/+pdsa/concatenateSpikes.m
tests/test_artifactRemoval/code/+pds/._checkJoy.m
tests/test_artifactRemoval/code/+pds/._checkEye.m
tests/test_artifactRemoval/code/+pds/._autoBackup.m
tests/test_artifactRemoval/code/+pds/._abortTrial.m
tests/test_artifactRemoval/code/+pds/._.DS_Store
tests/test_artifactRemoval/code/+pds/.DS_Store
tests/devel_segmentation.m
tests/test_artifactRemoval/data/removeArtifact_katzMethod/su.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/strobedEvents.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/spike_times_seconds.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/spike_times.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/spike_templates.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/spike_clusters.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/sp.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/similar_templates.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/sampsToSecsMap.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/rez.mat
tests/test_artifactRemoval/data/removeArtifact_katzMethod/ramsey20191126.mat
tests/test_artifactRemoval/code/+pdsa/tight_subplot.m
tests/test_artifactRemoval/code/+pdsa/shiftUnitIdentity.m
tests/test_artifactRemoval/code/+pdsa/quiverArrowFix.m
tests/test_artifactRemoval/code/+pdsa/quiverArrowFix (KatzBookPro's conflicted copy 2016-11-27).m
tests/test_artifactRemoval/code/+pds/._initRigConfigFile.m
tests/test_artifactRemoval/code/+pds/._initDataPixx.m
tests/test_artifactRemoval/code/+pds/._initCodes.m
tests/test_artifactRemoval/code/+pds/._initAudio.m
tests/test_artifactRemoval/code/+pds/._heatMapPlotGUI.m
tests/test_artifactRemoval/code/+pds/._getTimes.m
tests/test_artifactRemoval/code/+pds/._getOmniplexData.m
tests/test_artifactRemoval/code/+pds/._getMouse.m
tests/test_artifactRemoval/code/+pds/._getEyeJoy.m
tests/test_artifactRemoval/code/+pds/._eyeInWindow.m
tests/test_artifactRemoval/code/+pds/._deliverReward.m
tests/test_artifactRemoval/code/+pds/._deg2pix.m
tests/test_artifactRemoval/code/+pds/._defineGridLines.m
tests/test_artifactRemoval/code/+pds/._code2str.m
tests/test_artifactRemoval/code/+pds/._classyStrobe.m
tests/test_artifactRemoval/data/noArtifactRemoval/templates.npy
tests/test_artifactRemoval/data/noArtifactRemoval/template_features.npy
tests/test_artifactRemoval/data/noArtifactRemoval/template_feature_ind.npy
tests/test_artifactRemoval/data/noArtifactRemoval/su.mat
tests/test_artifactRemoval/data/noArtifactRemoval/strobedEvents.mat
tests/test_artifactRemoval/data/noArtifactRemoval/spike_times_seconds.npy
tests/test_artifactRemoval/data/noArtifactRemoval/spike_times.npy
tests/test_artifactRemoval/code/+pds/getTimes.m
tests/test_artifactRemoval/code/+pds/getOmniplexData.m
tests/test_artifactRemoval/code/+pds/getMouse.m
tests/test_artifactRemoval/code/+pds/getEyeJoy.m
tests/test_artifactRemoval/code/+pds/eyeInWindow.m
tests/test_artifactRemoval/code/+pds/deliverReward.m
tests/test_artifactRemoval/code/+pds/deg2pix.m
tests/test_artifactRemoval/code/+pds/defineGridLines.m
tests/test_artifactRemoval/code/+pds/correctForLatency.m
tests/test_artifactRemoval/code/+pds/code2strView.m
tests/test_artifactRemoval/code/+pds/code2str.m
tests/test_artifactRemoval/code/+pds/classyStrobe.m
tests/test_artifactRemoval/code/+pds/._saveP.m
tests/test_artifactRemoval/code/+pds/._saccadeGUI.m
tests/test_artifactRemoval/code/+pds/._regenerateStim_mcd.m
tests/test_artifactRemoval/code/+pds/._readDatapixxBuffers.m
tests/test_artifactRemoval/code/+pds/._plotWindowSetup.m
tests/test_artifactRemoval/code/+pds/._pix2deg.m
tests/test_artifactRemoval/code/+pds/._openPortToServer.m
tests/test_artifactRemoval/code/+pds/._num2state.m
tests/test_artifactRemoval/code/+pds/._loadP.m
tests/test_artifactRemoval/code/+pds/._joyReld.m
tests/test_artifactRemoval/code/+pds/._joyRectFillCalc.m
tests/test_artifactRemoval/code/+pds/._joyHeld_version1.m
tests/test_artifactRemoval/code/+pds/._joyHeld.m
tests/test_artifactRemoval/code/+pds/._initTrialVariables.m
tests/test_artifactRemoval/code/+pds/._initTaskMetadata.m
tests/test_artifactRemoval/code/+pds/pix2deg.m
tests/test_artifactRemoval/code/+pds/openPortToServer.m
tests/test_artifactRemoval/code/+pds/num2state.m
tests/test_artifactRemoval/code/+pds/loadP.m
tests/test_artifactRemoval/code/+pds/joyReld.m
tests/test_artifactRemoval/code/+pds/joyRectFillCalc.m
tests/test_artifactRemoval/code/+pds/joyHeld_version1.m
tests/test_artifactRemoval/code/+pds/joyHeld.m
tests/test_artifactRemoval/code/+pds/initTrialVariables.m
tests/test_artifactRemoval/code/+pds/initTaskMetadata.m
tests/test_artifactRemoval/code/+pds/initRigConfigFile.m
tests/test_artifactRemoval/code/+pds/initDataPixx.m
tests/test_artifactRemoval/code/+pds/initCodes.m
tests/test_artifactRemoval/code/+pds/initAudio.m
tests/test_artifactRemoval/code/+pds/abortTrial.m
tests/test_artifactRemoval/code/+pds/._waitForJoystickRelease.m
tests/test_artifactRemoval/code/+pds/._trialEndFun.m
tests/test_artifactRemoval/code/+pds/._structNames.m
tests/test_artifactRemoval/code/+pds/._strobeTrialData.m
tests/test_artifactRemoval/code/+pds/._str2code.m
tests/test_artifactRemoval/code/+pds/._storeDataInPDS.m
tests/test_artifactRemoval/code/+pds/._stopOmniPlex.m
tests/test_artifactRemoval/code/+pds/._state2num.m
tests/test_artifactRemoval/code/+pds/._startOmniPlex.m
tests/test_artifactRemoval/code/+pds/._startEphysAndSchedules.m
tests/test_artifactRemoval/code/+pds/._smoothDiff.m
tests/test_artifactRemoval/code/+pds/._setStringListForGui.m
tests/test_artifactRemoval/code/+pds/._setSchedules.m
tests/test_artifactRemoval/code/+pds/._servo.m
tests/tst_sp2su_class.m
tests/test_artifactRemoval/code/leorCode_gSac4/constructR.m~
tests/test_artifactRemoval/code/leorCode_gSac4/constructR.m
tests/test_artifactRemoval/code/leorCode_gSac4/constructDH.m
tests/test_artifactRemoval/code/leorCode_gSac4/cmd_firstLook.m
tests/test_artifactRemoval/code/leorCode_gSac4/+mkfig/basicPsthRf.m
tests/test_artifactRemoval/code/leorCode_gSac4/+mkfig/basicPsth.m
tests/test_artifactRemoval/code/leorCode_gSac4/+mkfig/basicPopPsth.m
tests/test_artifactRemoval/code/getUnitPsth.m
tests/test_artifactRemoval/code/+pdsa/cbrewer.m
tests/test_artifactRemoval/code/+pdsa/cbrewer (KatzBookPro's conflicted copy 2016-11-27).m
tests/test_artifactRemoval/code/+pdsa/binSpTimes.m
tests/test_artifactRemoval/code/+pds/waitForJoystickRelease.m
tests/test_artifactRemoval/code/+pds/checkJoy.m
tests/test_artifactRemoval/code/+pds/checkEye.m
tests/test_artifactRemoval/code/+pds/autoBackup.m
tests/test_artifactRemoval/code/strobes2behavior.m
tests/test_artifactRemoval/code/spkTools/setPlotsToMaxAxisLim.m
tests/test_artifactRemoval/code/spkTools/setPlotsColorbar.m
tests/test_artifactRemoval/code/spkTools/processStrobedEvents.m
tests/test_artifactRemoval/code/spkTools/nElementsGreaterThankK.m
tests/test_artifactRemoval/code/spkTools/makeSpFromPlxOfs.m
tests/test_artifactRemoval/code/spkTools/makePspVector.m
tests/test_artifactRemoval/code/spkTools/getDateTime.m
tests/test_artifactRemoval/code/spkTools/getDatasetInfo.m
tests/test_artifactRemoval/code/spkTools/code2value.m
tests/test_artifactRemoval/code/spkTools/code2time.m
tests/test_artifactRemoval/code/leorCode_gSac4/visualizeTiming.m
tests/test_artifactRemoval/code/+pds/str2code.m
tests/test_artifactRemoval/code/+pds/storeDataInPDS.m
tests/test_artifactRemoval/code/+pds/stopOmniPlex.m
tests/test_artifactRemoval/code/+pds/state2num.m
tests/test_artifactRemoval/code/+pds/startOmniPlex.m
tests/test_artifactRemoval/code/+pds/startEphysAndSchedules.m
tests/test_artifactRemoval/code/+pds/smoothDiff.m
tests/test_artifactRemoval/code/+pds/setStringListForGui.m
tests/test_artifactRemoval/code/+pds/setSchedules.m
tests/test_artifactRemoval/code/+pds/servo.m
tests/test_artifactRemoval/code/+pds/saveP.m
tests/test_artifactRemoval/code/+pds/saccadeGUI.m
tests/test_artifactRemoval/code/+pds/regenerateStim_mcd.m
tests/test_artifactRemoval/code/+pds/readDatapixxBuffers.m
tests/test_artifactRemoval/code/+pds/plotWindowSetup.m
tests/test_artifactRemoval/data/noArtifactRemoval/spike_templates.npy
tests/test_artifactRemoval/data/noArtifactRemoval/spike_clusters.npy
tests/test_artifactRemoval/data/noArtifactRemoval/sp.mat
tests/test_artifactRemoval/data/noArtifactRemoval/similar_templates.npy
tests/test_artifactRemoval/data/noArtifactRemoval/sampsToSecsMap.mat
tests/test_artifactRemoval/data/noArtifactRemoval/rez.mat
tests/test_artifactRemoval/data/noArtifactRemoval/ramsey20191126_noartifactremovalsorted.mat
tests/test_artifactRemoval/data/noArtifactRemoval/ramsey20191126_noArtifactRemoval.mat
tests/test_artifactRemoval/code/+pdsa/interpThresh.m
tests/test_artifactRemoval/code/+pdsa/genSpikesRenewalProcess.m
tests/test_artifactRemoval/code/+pdsa/genSpikesRenewalProcess (KatzBookPro's conflicted copy 2016-11-27).m
tests/test_artifactRemoval/code/+pdsa/eventTriggeredAverage.m
tests/test_artifactRemoval/code/+pds/trialEndFun.m
tests/test_artifactRemoval/code/+pds/structNames.m
tests/test_artifactRemoval/code/+pds/heatMapPlotGUI.m
tests/test_artifactRemoval/data/noArtifactRemoval/pc_features.npy
tests/test_artifactRemoval/data/noArtifactRemoval/pc_feature_ind.npy
tests/test_artifactRemoval/data/noArtifactRemoval/params.py
tests/test_artifactRemoval/data/noArtifactRemoval/ops.mat
tests/test_artifactRemoval/data/noArtifactRemoval/masterMegaFile.m
tests/test_artifactRemoval/data/noArtifactRemoval/figures/waveform_overChannels.pdf
tests/test_artifactRemoval/data/noArtifactRemoval/figures/waveformOverChannels_perCluster.pdf
tests/test_artifactRemoval/data/noArtifactRemoval/figures/waveformAndSpikeCount_overChannels.pdf
tests/test_artifactRemoval/code/+pdsa/plotUnityHistogram.m
tests/test_artifactRemoval/code/+pdsa/plotRaster.m
tests/test_artifactRemoval/code/+pdsa/parseOptions.m
tests/test_artifactRemoval/code/+pdsa/jpsth.m
tests/test_artifactRemoval/code/+pdsa/colorbrewer.mat
tests/test_artifactRemoval/code/+pdsa/cbrewerlicense.txt
tests/test_artifactRemoval/code/+pds/strobeTrialData.m
tests/tst_diff_between_matFromMpx_and_plxFromMpx.m
tests/test_artifactRemoval/test_artifactRemoval.m
tests/test_artifactRemoval/figures/psth - non method.pdf
tests/test_artifactRemoval/figures/psth - non method.fig
tests/test_artifactRemoval/figures/psth - lnk method.pdf
tests/test_artifactRemoval/data/removeArtifact_katzMethod/whitening_mat_inv.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/whitening_mat.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/templates_unw.npy
tests/test_artifactRemoval/code/leorCode_gSac4/plot_basicPsthForR.m
tests/test_artifactRemoval/code/leorCode_gSac4/getUnitRate.m
tests/test_artifactRemoval/code/leorCode_gSac4/getUnitPsth.m
tests/test_artifactRemoval/code/leorCode_gSac4/getUnitClass.m
tests/test_artifactRemoval/code/getDS.m
tests/test_artifactRemoval/code/+pdsa/waveformMatch.m
tests/test_artifactRemoval/code/+pdsa/upsampleEyepos.m
tests/test_artifactRemoval/data/noArtifactRemoval/figures/unitSummary.pdf
tests/test_artifactRemoval/data/noArtifactRemoval/convertInfo.mat
tests/test_artifactRemoval/data/noArtifactRemoval/cluster_groups.csv
tests/test_artifactRemoval/data/noArtifactRemoval/channel_positions.npy
tests/test_artifactRemoval/code/+pdsa/projectedHistogram.m
tests/test_artifactRemoval/code/+pdsa/plot_brewer_cmap.m
tests/test_artifactRemoval/code/+pdsa/eventTriggeredAverage (KatzBookPro's conflicted copy 2016-11-27).m
tests/tst_sp2su_class.asv
tests/tst_mpx_samples_vs_time.m
tests/tst_mpx_file_timing.m
tests/test_artifactRemoval/data/removeArtifact_katzMethod/pc_features.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/pc_feature_ind.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/params.py
tests/test_artifactRemoval/data/removeArtifact_katzMethod/ops.mat
tests/test_artifactRemoval/code/leorCode_gSac4/strobes2behavior.m
tests/test_artifactRemoval/code/leorCode_gSac4/plot_rfContourf.m
tests/test_artifactRemoval/code/leorCode_gSac4/plot_basicPsthRfForR.m
tests/test_artifactRemoval/data/removeArtifact_katzMethod/templates_ind.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/templates.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/template_features.npy
tests/test_artifactRemoval/data/removeArtifact_katzMethod/template_feature_ind.npy
tests/test_artifactRemoval/data/noArtifactRemoval/channel_map.npy
tests/test_artifactRemoval/data/noArtifactRemoval/chanMap.mat
tests/test_artifactRemoval/data/noArtifactRemoval/amplitudes.npy
